body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42
}

.footer-logo .logo-part {
    color: #f4f4fd;
}


.nav-link {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* Section Soulutions */

.main-page-bg {
    background-color:#2e2f42;
}

.main-site-color {
    color: #434455;
}

.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.ordering-button {
    background-color:#4d5ae5 ;
    color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}



/* END OF Section Solutions */

/* Principle page */

.principles-page {
    background-color: #fff;
}

.principles-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.principles-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* END OF prinicples section */


/* Our team section */
.team-page {
    background-color: #f4f4fd;
}

.team-page-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-member {
    background-color: #FFFFFF;
}

.teammate-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.member-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* END OF Team Section */


/* Our Portfolio */

.portfolio-page {
    background-color: #FFFFFF;
}

.portfolio-page-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-element {
    background-color: #FFFFFF;
}

.portfolio-asset {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* END OF Portfolio section */

/* Footer section */
.page-footer {
    background-color:#2e2f42;
}

.p-footer-white {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* END OF footer */